<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
            <Property name="MICROSERVICE_LOG_PATTERN">%d [%-6p] %C{1}.%M(%F:%L) - %m%n</Property>
        
        <Property name="APP_LOG_ROOT">D:/temp</Property>
    </Properties>
    <Appenders>
          
        <RollingFile name="file"
            fileName="\data\logs\microservices_app_application.log"
            filePattern="\data\logs\application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${MICROSERVICE_LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
  
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>